[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ably = "==2.0.0b6"
aiokafka = "*"
confluent-kafka = "*"
jsonschema = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
