name: Integration Tests

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      deployments: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Build with Gradle
        run: ./gradlew build --no-daemon --stacktrace

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-2
          role-to-assume: arn:aws:iam::${{ secrets.ABLY_AWS_ACCOUNT_ID_SDK}}:role/ably-sdk-builds-kafka-connect-ably
          role-session-name: "${{ github.run_id }}-${{ github.run_number }}"

      - name: Read artifacts names
        id: artifacts
        run: |
          MSK_ARCHIVE=$(basename "$(find build/distributions/msk -name '*.zip' -type f | head -n 1)")
          CONFLUENT_ARCHIVE=$(basename "$(find build/distributions/confluent -name '*.zip' -type f | head -n 1)")
          echo "msk_archive=${MSK_ARCHIVE}" >> $GITHUB_OUTPUT
          echo "confluent_archive=${CONFLUENT_ARCHIVE}" >> $GITHUB_OUTPUT

      - name: Upload Confluent ZIP archive
        uses: ably/sdk-upload-action@v2
        with:
          sourcePath: build/distributions/confluent
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          artifactName: kafka-connect-ably
          landingPagePath: ${{ steps.artifacts.outputs.confluent_archive }}

      - name: Upload MSK Plugin ZIP archive
        uses: ably/sdk-upload-action@v2
        with:
          sourcePath: build/distributions/msk
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          artifactName: kafka-connect-ably-msk-plugin
          landingPagePath: ${{ steps.artifacts.outputs.msk_archive }}

